/**** CSS Theme Dark 1 ****/

/*** DEFAULTS ***/
.root{
	/*## Color palette ##*/
	main-text-color: #ffffff;
	btn-hover-text-color: #000000;
	disabled-text-color: derive(main-text-color, -60%);
	darkest: #2F0F35;
	dark1: #2E1753;
	dark2: #49277C;
	mid1: #0A6DB9;
	light1: #00B9E2;
	light2: #765FD8;
	light3: #82F5FF;
	lightest: #FFFFFF;
	dark-transparent-1: rgba(0,0,0,0.4);
	dark-transparent-2: rgba(0,0,0,0.2);
	white-transparent-1: rgba(255, 255, 255, 0.1);
	white-transparent-2: rgba(255, 255, 255, 0.2);
	color-bar-0: light3;
	color-bar-1: light1;
	color-bar-2: light2;
	color-bar-3: dark2;
	/* Default properties */
	-fx-font-family: "Arial Black";
	/*-fx-font-size: 14px;*/
}

/* LOGO */
#logo{
	-fx-image: url(../logo/logo_il_paroliere.png);
}

#logo-v2{
	-fx-image: url(../logo/logo_il_paroliere_v2.png);
}

/* Rectangle under main menu buttons*/
#menu-bg{
	-fx-fill: dark-transparent-1;
	-fx-stroke: rgba(255,255,255, 1);
	-fx-stroke-type: outside;
	-fx-arc-width: 15px;
	-fx-arc-height: 15px;
}

/* Main scene background */
.scene-with-bg{
	-fx-background-image: url(../backgrounds/night_mountain_stars.png);
	-fx-background-repeat: no-repeat no-repeat;
	-fx-background-size: stretch;
	-fx-background-position: center center;
}

#lighter_font{
	-fx-font-family: "Arial";
}

/*Options background*/
.options-bg{
	-fx-background-color: darkest;
}


/* BUTTONS */
.button,
.jfx-button{
	-fx-background-color: transparent;
	-fx-background-radius: 35px;
	-fx-border-color: main-text-color;
	-fx-border-style: solid;
	-fx-border-width: 2px;
	-fx-border-radius: 35px;
	-fx-text-fill: main-text-color;
	-fx-fill: main-text-color;
	-fx-label-padding: 4px;
	-jfx-disable-visual-focus: true;
}

.button:hover{
	-fx-background-color: main-text-color;
	-fx-text-fill: btn-hover-text-color;
	-fx-fill: btn-hover-text-color;
}

.button:hover .glyph-font{
	-fx-text-fill: btn-hover-text-color;
}

.button:disabled,
.jfx-button:disabled{
	-fx-text-fill: disabled-text-color;
	-fx-border-color: disabled-text-color;
	-fx-opacity: 0.7;
}

.menu-bar > .container > .menu-button{
	-fx-background-color: transparent;
	-fx-padding: 10px;
}

.menu-bar > .container > .menu-button:hover{
	-fx-border-color: main-text-color;
	-fx-border-width: 0px 0px 2px 0px;
	-fx-border-style: solid;
}

.menu-bar > .container > .menu-button > .label{
	-fx-text-fill: main-text-color;
	-fx-font-size: 14px;
}

.menu-bar > .container > .menu-button:disabled > .label{
	-fx-text-fill: disabled-text-color;
	-fx-font-size: 14px;
}

#sidebar_opt_btn{
	-fx-background-color: transparent;
	-fx-border-color: main-text-color;
	-fx-border-style: solid;
	-fx-text-fill: main-text-color;
	-fx-border-width: 0px 0px 0px 0px;
	-fx-border-radius: 0px;
	-fx-background-radius: 0px;
}

#sidebar_opt_btn:hover{
	-fx-border-width: 0px 0px 0px 3px;
	-fx-background-color: linear-gradient(to bottom, rgba(249,249,249,0.2) 0%,rgba(130,245,255,0.2) 10%,rgba(118,95,216,0.2) 50%,rgba(73,39,124,0.2) 51%,rgba(130,245,255,0.2) 100%);
}

#sidebar_opt_btn:selected{
	-fx-border-width: 0px 0px 0px 3px;
	-fx-background-color: darkest;
}

.choice-box{
	-fx-background-color: derive(darkest, -20%);
	-fx-text-fill: main-text-color;
	-fx-border-color: light2;
	-fx-border-width: 0 0 1 0;
}

.choice-box > .open-button > .arrow{
	-fx-background-color: main-text-color;
}

.jfx-toggle-button{
	-fx-padding: 0;
	-jfx-toggle-color: mid1;
	-jfx-toggle-line-color: light1;
	-jfx-untoggle-color: main-text-color;
	-jfx-untoggle-line-color: #999999;
}

#activationAlert .jfx-button{
	-fx-background-color: dark1;
	-jfx-button-type: RAISED;
	-fx-background-radius: 15px;
	-fx-border-width: 0px;
	-fx-border-radius: 0px;
	-fx-text-fill: main-text-color;
	-fx-label-padding: 4px;
	-jfx-disable-visual-focus: true;
	-fx-font-weight: bold;
}

#search-btn.jfx-button{
	-fx-background-color: transparent;
	-fx-background-radius: 30px;
	-fx-border-color: transparent;
	-fx-border-width: 0px;
	-fx-border-radius: 0px;
	-fx-text-fill: main-text-color;
	-fx-fill: main-text-color;
	-fx-label-padding: 4px;
	-jfx-disable-visual-focus: true;
}

#search-btn.jfx-button:hover{
	-fx-background-color: transparent;
	-fx-text-fill: light3;
	-fx-fill: light3;
}

#search-btn.jfx-button:hover .glyph-font{
	-fx-text-fill: light3;
}

/* MENUS */
.menu {
	-fx-background-color: transparent;
}

.menu-bar {
	-fx-background-color: transparent;
}

.choice-box .context-menu,
.choice-box .context-menu > .menu-item, 
.choice-box .context-menu > .menu-item > .left-container,
.choice-box .context-menu > .menu-item > .right-container,
.choice-box .context-menu > .menu-item > .graphic-container,
.choice-box .menu-item{
	-fx-background-color: derive(darkest, -20%);
}

/* Containers */
.split-pane{
	-fx-background-color: transparent;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0;
	-fx-background-color: lightest;
	-fx-background-insets: 0;
}

.tool-bar{
	-fx-background-color: linear-gradient(to top, rgba(47,15,53,1) 0%, rgba(10,109,185,1) 45%, rgba(118,95,216,1) 100%);
	-fx-padding: 0px;
	-fx-spacing: 0px;
}

#opt_btn_bar {
	-fx-background-color: darkest;
	-fx-padding: 15px;
}

#opt_title{
	-fx-background-color: darkest;
	-fx-border-color: light2;
	-fx-border-style: solid;
	-fx-border-width: 0 0 1 0;
}

#bg-loading{
	-fx-background-color: rgba(255, 255, 255, 0.3);
}

.jfx-spinner .arc {
	-fx-stroke-width: 7.0;
}


#activationAlert {
	-fx-font-size:13px;
	-fx-font-family: "Arial";
}

/* Labels */
.label{
	-fx-text-fill: main-text-color;
}

#activationAlert .label {
	-fx-text-fill: black;
	-fx-font-size: 18px;
	-fx-font-family: "Arial Black";
}

#forgot-pw.label:hover{
	-fx-text-fill: light3;
}

#forgot-pw.jfx-rippler{
	-jfx-rippler-fill: main-text-color;
	-jfx-mask-type: RECT;
}

.game-loading-msg {
	-fx-text-fill: main-text-color;
	-fx-font-size: 21px;
	-fx-effect: dropshadow(one-pass-box, darkest, 10, 0.4, 2, 2);
}

/* Glyphs fontawsomefx */
.glyph-font{
	-fx-text-fill: main-text-color;
	-fx-fill: main-text-color;
	-fx-alignment: center;
	-fx-text-alignment: center;
}

/* Text fields */
.jfx-text-field, 
.jfx-password-field {
	-jfx-focus-color: light2;
	-jfx-unfocus-color: main-text-color;
	-jfx-label-float: true;
	-jfx-disable-animation: false;
	-fx-text-fill: main-text-color;
	-fx-prompt-text-fill: derive(main-text-color, -40%);
}

#activationAlert .jfx-text-field, 
#activationAlert .jfx-password-field{
	-jfx-focus-color: light2;
	-jfx-unfocus-color: grey;
	-jfx-label-float: true;
	-jfx-disable-animation: false;
	-fx-text-fill: black;
	-fx-prompt-text-fill: derive(main-text-color, -40%);
}


.jfx-text-field:error,
.jfx-password-field:error,
#activationAlert .jfx-text-field:error, .jfx-password-field:error,
#profile-pane .jfx-text-field:error, .jfx-password-field:error{
    -jfx-focus-color: red;
    -jfx-unfocus-color: red;
}

.jfx-text-field .error-label,
.jfx-password-field .error-label,
#activationAlert .jfx-text-field .error-label, .jfx-password-field .error-label,
#profile-pane .jfx-text-field .error-label, .jfx-password-field .error-label {
    -fx-text-fill: red;
	-fx-padding: 5 0 0 0;
	-fx-font-family: "Arial";
}

#activationAlert .jfx-text-field .error-label, 
#activationAlert .jfx-password-field .error-label {
    -fx-font-size: 12px;
}

.jfx-text-field .error-icon {
    -fx-text-fill: red;
}


.jfx-text-field:error .error-tooltip,
.jfx-password-field:error .error-tooltip,
#activationAlert .jfx-text-field:error .error-tooltip, .jfx-password-field:error .error-tooltip,
#profile-pane .jfx-text-field:error .error-tooltip, .jfx-password-field:error .error-tooltip {
	-fx-background-color: red;
}

/* Alerts and dialogs */
.jfx-dialog-layout{
	-fx-background-color: lightest;
	-fx-padding: 10 20 10 20;
}

.jfx-dialog-layout > .jfx-layout-heading {
    -fx-alignment: center-left;
    -fx-font-weight: BOLD;
	-fx-padding: 14 14 20 14;
	-fx-text-fill: dark1;
	-fx-border-width: 0 0 1 0;
	-fx-border-style: solid;
	-fx-border-color: black;
}

.jfx-dialog-layout > .jfx-layout-heading .label,
.jfx-dialog-layout > .jfx-layout-heading .title{
	-fx-text-fill: dark1;
}

.jfx-dialog-layout > .jfx-layout-actions {
    -fx-alignment: center-right;
    -fx-hgap: 8;
    -fx-padding: 8 8 8 8;
}

.jfx-dialog-layout > .jfx-layout-actions .jfx-button {
	-fx-background-color: dark1;
	-jfx-button-type: RAISED;
	-fx-background-radius: 15px;
	-fx-border-width: 0px;
	-fx-border-radius: 0px;
	-fx-text-fill: main-text-color;
	-fx-label-padding: 4px;
	-jfx-disable-visual-focus: true;
}

.jfx-dialog-layout > .jfx-layout-actions .jfx-button:hover {
	-fx-background-color: mid1;
}

.jfx-dialog-layout > .jfx-layout-body {
    -fx-alignment: center-left;
    -fx-padding: 14 14 10 14;
	-fx-font-family: "Arial";
}

.jfx-dialog-layout > .jfx-layout-body .label {
    -fx-wrap-text: true;
	-fx-text-fill: black;
}

/* ListView */
.serverlistview {
	-fx-background-color: dark-transparent-1;
	-fx-font-family: "Arial";
}

.serverlistview .cell {
	-fx-content-display: graphic-only;
	-fx-background-color: transparent;
	-fx-text-fill: main-text-color;
}

.serverlistview .cell:selected{
	-fx-background-color: light2;
}

.serverlistview .cell:filled{
	-fx-border-color: light2;
	-fx-border-width: 0 0 1 0;
}

.serverlistview .cell .jfx-button,
.serverlistview .cell .jfx-button:hover {
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
	-fx-content-display: graphic-only;
	-fx-alignment: center;
	-fx-text-alignment: center;
}

.serverlistview .cell .label {
	-fx-padding: 0 0 0 10;
}

.serverlistview .cell .jfx-button:hover .glyph-font{
	-fx-text-fill: dark2;
}

.serverlistview .jfx-rippler{
	-jfx-rippler-fill: light1;
}

.playerslistview {
	-fx-background-color: dark-transparent-1;
	-fx-font-family: "Arial";
}

.playerslistview .cell{
	-fx-background-color: transparent;
	-fx-text-fill: main-text-color;
}

.playerslistview .cell:selected{
	-fx-background-color: light2;
}

.playerslistview .cell:filled{
	-fx-border-color: light2;
	-fx-border-width: 0 0 1 0;
}

.playerslistview .cell .label {
	-fx-padding: 0 0 0 10;
}

.playerslistview .jfx-rippler{
	-jfx-rippler-fill: light1;
}

/* Snackbar */
.jfx-snackbar-content {
    -fx-background-color: lightest;
    -fx-padding: 5;
    -fx-spacing: 5;
}

.jfx-snackbar-toast {
    -fx-text-fill: darkest;
	-fx-alignment: center;
}

.jfx-snackbar-action {
    
}

/* Profile image */
#profile-image {
	-fx-shape: "M 400 300 A 50 50 0 1 1 600 300 A 50 50 0 1 1 400 300 Z";
	-fx-border-color: white;
	-fx-border-width: 1;
	-fx-border-style: solid;
}

#profile-info {
	/*-fx-shape: "M127,37.9c0,20.64-17.44,37.4-39,37.4H0c21.53,0,39-16.75,39-37.4S21.53.5,0,.5H88C109.53.5,127,17.24,127,37.9Z";*/
	-fx-border-width: 1 1 1 1;
	-fx-border-color: white;
	-fx-border-style: solid;
	-fx-border-radius: 15px;
	-fx-background-color: rgba(255, 255, 255, 0.2);
	-fx-background-radius: 15px;
}

#profile-info .label {
	-fx-text-fill: white;
}

/* Home header */
.home-header {

}

/* Tab Pane */
#mainTabPane.jfx-tab-pane {
	-fx-padding: 0 10 10 10;
}

#mainTabPane.jfx-tab-pane .tab-header-background {
    -fx-background-color: light2;
}

#mainTabPane.jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: light3;
}

#mainTabPane.jfx-tab-pane .headers-region #mainTabPane.tab .tab-container .tab-label {
    -fx-text-fill: rgba(255,255,255, .87);
    -fx-font-weight: BOLD;
    -fx-padding: 10 15 10 15;
}

#mainTabPane.jfx-tab-pane .headers-region #mainTabPane.tab:selected .tab-container .tab-label {
    -fx-text-fill: WHITE;
}

/* Profile options pane */
#profile-pane {
	-fx-text-fill: dark1;
}

#profile-pane.label{
	-fx-text-fill: dark1;
}

#profile-pane .jfx-button{
	-fx-background-color: dark1;
	-jfx-button-type: RAISED;
	-fx-background-radius: 4px;
	-fx-border-width: 0px;
	-fx-border-radius: 0px;
	-fx-text-fill: main-text-color;
	-fx-label-padding: 4px;
	-jfx-disable-visual-focus: true;
}

#profile-pane .jfx-button:hover{
	-fx-background-color: light2;
}

#profile-pane .jfx-tab-pane {
	-fx-padding: 0 10 10 10;
}

#profile-pane .jfx-tab-pane .tab-header-background {
    -fx-background-color: light2;
}

#profile-pane .jfx-tab-pane .headers-region .tab-selected-line {
    -fx-background-color: light3;
}

#profile-pane .jfx-tab-pane > .headers-region > .tab > .tab-container > .tab-label {
    -fx-text-fill: rgba(255,255,255, .87);
	-fx-fill: rgba(255,255,255, .87);
    -fx-font-weight: BOLD;
    -fx-padding: 10 15 10 15;
}

#profile-pane .jfx-tab-pane > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-text-fill: WHITE;
	-fx-fill: WHITE;
}

#profile-pane-tablabel {
	-fx-text-fill: WHITE;
}

#profile-pane .jfx-text-field, 
#profile-pane .jfx-password-field {
	-jfx-focus-color: light2;
	-jfx-unfocus-color: dark1;
	-jfx-label-float: true;
	-jfx-disable-animation: false;
	-fx-text-fill: darkest;
	-fx-prompt-text-fill: derive(darkest, +60%);
}

#profile-pane .jfx-text-field:readonly {
	-jfx-focus-color: derive(darkest, +60%);
	-jfx-unfocus-color: transparent;
	-fx-background-color: dark-transparent-2;
	-fx-prompt-text-fill: derive(darkest, +60%);
	-jfx-label-float: true;
}

#profile-pane .jfx-text-field:readonly > .input-focused-line {
	-fx-background-color: transparent;
}

#profile-pane .jfx-color-picker .label{
	-fx-font-size: 12px;
	-fx-text-fill: lightest;
}

#profile-pane .jfx-combo-box{
	-fx-font-size: 12px;
}

#profile-pane.glyph-font{
	-fx-text-fill: dark1;
	-fx-fill: dark1;
	-fx-alignment: center;
	-fx-text-alignment: center;
}

#change-pw-btn {
	-fx-font-size: 11px;
}

/* Combo box */
.jfx-check-box{
	-jfx-checked-color: light2;
	-jfx-unchecked-color: main-text-color;
	-fx-text-fill: main-text-color;
}

/* Grid view game */
.game-grid{
	-fx-background-color: dark-transparent-1;
	-fx-background-radius: 5px;
	-fx-border-color: main-text-color;
	-fx-border-style: solid;
	-fx-border-width: 1px;
	-fx-border-radius: 5px;
}

.ip-dice-face{
	-jfx-toggle-color: light3;
}

.ip-dice-face .label {
	-fx-text-fill: black;
}

.ip-dice-face .selected-number-label {
	-fx-text-fill: light3;
}

.ip-dice-face:hover .dice-base{
	-fx-effect: innershadow(three-pass-box, red, 14.45, 0.0, 0.0, 0.0);
}

.ip-dice-face:hover:selectable .dice-base{
	-fx-effect: innershadow(three-pass-box, green, 14.45, 0.0, 0.0, 0.0);
}

/* RoomList */
#rooms.table-view{
	-fx-background-color: dark-transparent-1;
}

#rooms.table-view .column-header-background .filler,
#rooms.table-view .column-header-background .nested-column-header,
#rooms.table-view .column-header-background .nested-column-header .column-header{
	-fx-background-color: dark1, light2;	
}

#rooms.table-view .jfx-text-field,
#rooms.table-view .jfx-combo-box{
	-fx-font-family: "Arial";
	-jfx-focus-color: light3;
	-jfx-unfocus-color: main-text-color;
	-fx-background-color: white-transparent-1;
	-fx-text-fill: main-text-color;
}

#rooms.table-view .jfx-text-field{
	-fx-padding: 5 5 5 5;
}

#rooms.table-view .jfx-combo-box > .arrow-button > .arrow{
	-fx-background-color: main-text-color;
}

#rooms.table-view .table-row-cell,
#rooms.table-view .virtual-flow .clipped-container .sheet{
	-fx-background-color: transparent;
	-fx-alignment: center;
}

#rooms.table-view .virtual-flow .clipped-container .sheet .table-row-cell:selected .table-cell{
	-fx-text-fill: darkest;
}

#rooms.table-view .table-row-cell:filled:even{
	-fx-background-color: white-transparent-1;
}

#rooms.table-view .table-row-cell:filled:selected{
	-fx-background-color: light3;
}

#rooms.table-view .table-row-cell:filled:hover{
	-fx-background-color: white-transparent-2;
}

#rooms.table-view .table-row-cell:filled:selected:hover{
	-fx-background-color: white-transparent-2, light3;
}


#rooms.table-view .table-cell:filled{
	-fx-padding: 10 10 10 10;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-text-fill: main-text-color;
	-fx-font-family: "Arial";
	-fx-alignment: center;
	-fx-text-alignment: center;
}


#rooms.table-view .table-cell:empty{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.lobby .content{
	-fx-background-color: dark-transparent-1;
	-fx-border-width: 0;
}

.lobby .title{
	-fx-background-color: light2;
}

.lobby .title .text{
	-fx-fill: main-text-color;
}

.lobby .title:hover .text{
	-fx-fill: light3;
}

/* Stats pane */
.stats-scroll-pane,
.stats-scroll-pane .viewport{
	-fx-background-color:transparent;
}

.stats-scroll-pane .scroll-bar:vertical{
	-fx-background-color: transparent;
	-fx-pref-width: 15px;
}

.stats-scroll-pane .scroll-bar:vertical .thumb{
	-fx-background-color: white;
}

.stats-scroll-pane .scroll-bar:vertical .decrement-button .decrement-arrow,
.stats-scroll-pane .scroll-bar:vertical .increment-button .increment-arrow{
	-fx-background-color: white;
}

.stats-scroll-pane .scroll-bar:vertical .decrement-button:hover,
.stats-scroll-pane .scroll-bar:vertical .increment-button:hover{
	-fx-background-color: light2;
}

.stats-card .card-header .glyph-font:hover{
	-fx-text-fill: light3;
}

.stats-card .card-header #info.jfx-rippler {
	-jfx-rippler-fill: main-text-color;
	-jfx-mask-type: CIRCLE;
}

.stats-card .card-header{
	-fx-background-color: light2;
	-fx-background-radius: 10 10 0 0;
}

.stats-card .card-body{
	-fx-background-color: dark-transparent-1;
	-fx-background-radius: 0 0 10 10;
}

.stats-card .card-body .table-view{
	-fx-background-color: dark-transparent-1;
}

.stats-card .card-body .table-view .column-header-background .nested-column-header .column-header,
.stats-card .card-body .table-view .column-header-background .nested-column-header,
.stats-card .card-body .table-view .column-header-background .filler {
	-fx-background-color: light1;
}

.stats-card .card-body .table-view .table-cell:filled{
	-fx-padding: 10 10 10 10;
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-text-fill: main-text-color;
	-fx-font-family: "Arial";
	-fx-alignment: center;
	-fx-text-alignment: center;
}


.stats-card .card-body .table-view .table-row-cell,
.stats-card .card-body .table-view .virtual-flow .clipped-container .sheet{
	-fx-background-color: transparent;
	-fx-alignment: center;
}


.stats-card .card-body .table-view .table-row-cell:filled:even{
	-fx-background-color: white-transparent-1;
}


.stats-card .card-body .table-view .table-row-cell:filled:hover{
	-fx-background-color: white-transparent-2;
}

.stats-card .card-body .table-view .table-cell:empty{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.stats-card-desc {
	-fx-text-fill: darkest;
	-fx-font-family: "Arial";
	-fx-padding: 10 10 10 10;
}

/* Bar charts */
.chart-plot-background{
	-fx-background-color: transparent;
}

.axis{
	-fx-tick-label-fill: main-text-color;
}

.axis:top {
    -fx-border-color: transparent transparent main-text-color transparent;
}
.axis:right {
    -fx-border-color: transparent transparent transparent main-text-color;
}
.axis:bottom {
    -fx-border-color: main-text-color transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent main-text-color transparent transparent;
}

.axis:top > .axis-label,
.axis:left > .axis-label {
    -fx-padding: 0 0 4px 0;
}
.axis:bottom > .axis-label,
.axis:right > .axis-label {
    -fx-padding: 4px 0 0 0;
}
.axis-tick-mark,
.axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: main-text-color;
}

.default-color0.chart-bar { -fx-bar-fill: color-bar-0; }
.default-color1.chart-bar { -fx-bar-fill: color-bar-1; }
.default-color2.chart-bar { -fx-bar-fill: color-bar-2; }
.default-color3.chart-bar { -fx-bar-fill: color-bar-3; }

.bar-chart{
	-fx-bar-gap: 0;
}

.chart-legend{
	-fx-background-color: transparent;
}

/* Progress bar */
.jfx-progress-bar .bar{
	-fx-background-color: light3;
}