/**** CSS Theme Dark 1 ****/

/*** DEFAULTS ***/
.root{
	/*## Color palette ##*/
	main-text-color: #ffffff;
	btn-hover-text-color: #000000;
	disabled-text-color: derive(main-text-color, -60%);
	darkest: #2F0F35;
	dark1: #2E1753;
	dark2: #49277C;
	mid1: #0A6DB9;
	light1: #00B9E2;
	light2: #765FD8;
	light3: #82F5FF;
	lightest: #FFFFFF;
	dark-transparent-1: rgba(0,0,0,0.4);
	/* Default properties */
	-fx-font-family: "Arial Black";
	/*-fx-font-size: 14px;*/
}

/* LOGO */
#logo{
	-fx-image: url(../logo/logo_il_paroliere.png);
}

#logo-v2{
	-fx-image: url(../logo/logo_il_paroliere_v2.png);
}

/* Rectangle under main menu buttons*/
#menu-bg{
	-fx-fill: dark-transparent-1;
	-fx-stroke: rgba(255,255,255, 1);
	-fx-stroke-type: outside;
	-fx-arc-width: 15px;
	-fx-arc-height: 15px;
}

/* Main scene background */
.scene-with-bg{
	-fx-background-image: url(../backgrounds/night_mountain_stars.png);
	-fx-background-repeat: no-repeat no-repeat;
	-fx-background-size: stretch;
	-fx-background-position: center center;
}

#lighter_font{
	-fx-font-family: "Arial";
}

/*Options background*/
.options-bg{
	-fx-background-color: darkest;
}


/* BUTTONS */
.button,
.jfx-button{
	-fx-background-color: transparent;
	-fx-background-radius: 35px;
	-fx-border-color: main-text-color;
	-fx-border-style: solid;
	-fx-border-width: 2px;
	-fx-border-radius: 35px;
	-fx-text-fill: main-text-color;
	-fx-fill: main-text-color;
	-fx-label-padding: 4px;
	-jfx-disable-visual-focus: true;
}

.button:hover{
	-fx-background-color: main-text-color;
	-fx-text-fill: btn-hover-text-color;
	-fx-fill: btn-hover-text-color;
}

.button:hover .glyph-font{
	-fx-text-fill: btn-hover-text-color;
}

.button:disabled,
.jfx-button:disabled{
	-fx-text-fill: disabled-text-color;
	-fx-border-color: disabled-text-color;
	-fx-opacity: 0.7;
}

.menu-bar > .container > .menu-button{
	-fx-background-color: transparent;
	-fx-padding: 10px;
}

.menu-bar > .container > .menu-button:hover{
	-fx-border-color: main-text-color;
	-fx-border-width: 0px 0px 2px 0px;
	-fx-border-style: solid;
}

.menu-bar > .container > .menu-button > .label{
	-fx-text-fill: main-text-color;
	-fx-font-size: 14px;
}

.menu-bar > .container > .menu-button:disabled > .label{
	-fx-text-fill: disabled-text-color;
	-fx-font-size: 14px;
}

#sidebar_opt_btn{
	-fx-background-color: transparent;
	-fx-border-color: main-text-color;
	-fx-border-style: solid;
	-fx-text-fill: main-text-color;
	-fx-border-width: 0px 0px 0px 0px;
	-fx-border-radius: 0px;
	-fx-background-radius: 0px;
}

#sidebar_opt_btn:hover{
	-fx-border-width: 0px 0px 0px 3px;
	-fx-background-color: linear-gradient(to bottom, rgba(249,249,249,0.2) 0%,rgba(130,245,255,0.2) 10%,rgba(118,95,216,0.2) 50%,rgba(73,39,124,0.2) 51%,rgba(130,245,255,0.2) 100%);
}

#sidebar_opt_btn:selected{
	-fx-border-width: 0px 0px 0px 3px;
	-fx-background-color: darkest;
}

.choice-box{
	-fx-background-color: derive(darkest, -20%);
	-fx-text-fill: main-text-color;
	-fx-border-color: light2;
	-fx-border-width: 0 0 1 0;
}

.choice-box > .open-button > .arrow{
	-fx-background-color: main-text-color;
}

.jfx-toggle-button{
	-fx-padding: 0;
	-jfx-toggle-color: mid1;
	-jfx-toggle-line-color: light1;
	-jfx-untoggle-color: main-text-color;
	-jfx-untoggle-line-color: #999999;
}

#activationAlert .jfx-button{
	-fx-background-color: dark1;
	-jfx-button-type: RAISED;
	-fx-background-radius: 15px;
	-fx-border-width: 0px;
	-fx-border-radius: 0px;
	-fx-text-fill: main-text-color;
	-fx-label-padding: 4px;
	-jfx-disable-visual-focus: true;
	-fx-font-weight: bold;
}

/* MENUS */
.menu {
	-fx-background-color: transparent;
}

.menu-bar {
	-fx-background-color: transparent;
}

.choice-box .context-menu,
.choice-box .context-menu > .menu-item, 
.choice-box .context-menu > .menu-item > .left-container,
.choice-box .context-menu > .menu-item > .right-container,
.choice-box .context-menu > .menu-item > .graphic-container,
.choice-box .menu-item{
	-fx-background-color: derive(darkest, -20%);
}

/* Containers */
.split-pane{
	-fx-background-color: transparent;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0;
	-fx-background-color: lightest;
	-fx-background-insets: 0;
}

.tool-bar{
	-fx-background-color: linear-gradient(to top, rgba(47,15,53,1) 0%, rgba(10,109,185,1) 45%, rgba(118,95,216,1) 100%);
	-fx-padding: 0px;
	-fx-spacing: 0px;
}

#opt_btn_bar {
	-fx-background-color: darkest;
	-fx-padding: 15px;
}

#opt_title{
	-fx-background-color: darkest;
	-fx-border-color: light2;
	-fx-border-style: solid;
	-fx-border-width: 0 0 1 0;
}

#bg-loading{
	-fx-background-color: rgba(255, 255, 255, 0.3);
}

.jfx-spinner .arc {
	-fx-stroke-width: 7.0;
}


#activationAlert {
	-fx-font-size:13px;
	-fx-font-family: "Arial";
}

/* Labels */
.label{
	-fx-text-fill: main-text-color;
}

#activationAlert .label {
	-fx-text-fill: black;
	-fx-font-size: 18px;
	-fx-font-family: "Arial Black";
}


/* Glyphs fontawsomefx */
.glyph-font{
	-fx-text-fill: main-text-color;
	-fx-fill: main-text-color;
	-fx-alignment: center;
	-fx-text-alignment: center;
}

/* Text fields */
.jfx-text-field, .jfx-password-field{
	-jfx-focus-color: light2;
	-jfx-unfocus-color: main-text-color;
	-jfx-label-float: true;
	-jfx-disable-animation: false;
	-fx-text-fill: main-text-color;
	-fx-prompt-text-fill: derive(main-text-color, -40%);
}

#activationAlert .jfx-text-field, .jfx-password-field{
	-jfx-focus-color: light2;
	-jfx-unfocus-color: grey;
	-jfx-label-float: true;
	-jfx-disable-animation: false;
	-fx-text-fill: black;
	-fx-prompt-text-fill: derive(main-text-color, -40%);
}


.jfx-text-field:error,
.jfx-password-field:error,
#activationAlert .jfx-text-field:error, .jfx-password-field:error{
    -jfx-focus-color: red;
    -jfx-unfocus-color: red;
}

.jfx-text-field .error-label,
.jfx-password-field .error-label,
#activationAlert .jfx-text-field .error-label, .jfx-password-field .error-label {
    -fx-text-fill: red;
	-fx-padding: 5 0 0 0;
	-fx-font-family: "Arial";
}

#activationAlert .jfx-text-field .error-label, .jfx-password-field .error-label {
    -fx-font-size: 12px;
}

.jfx-text-field .error-icon {
    -fx-text-fill: red;
}


.jfx-text-field:error .error-tooltip,
.jfx-password-field:error .error-tooltip,
#activationAlert .jfx-text-field:error .error-tooltip, .jfx-password-field:error .error-tooltip {
	-fx-background-color: red;
}

/* Alerts and dialogs */
.jfx-dialog-layout{
	-fx-background-color: lightest;
	-fx-padding: 10 20 10 20;
}

.jfx-dialog-layout > .jfx-layout-heading {
    -fx-alignment: center-left;
    -fx-font-weight: BOLD;
	-fx-padding: 14 14 20 14;
	-fx-text-fill: dark1;
	-fx-border-width: 0 0 1 0;
	-fx-border-style: solid;
	-fx-border-color: black;
}

.jfx-dialog-layout > .jfx-layout-heading .label,
.jfx-dialog-layout > .jfx-layout-heading .title{
	-fx-text-fill: dark1;
}

.jfx-dialog-layout > .jfx-layout-actions {
    -fx-alignment: center-right;
    -fx-hgap: 8;
    -fx-padding: 8 8 8 8;
}

.jfx-dialog-layout > .jfx-layout-actions .jfx-button {
	-fx-background-color: dark1;
	-jfx-button-type: RAISED;
	-fx-background-radius: 15px;
	-fx-border-width: 0px;
	-fx-border-radius: 0px;
	-fx-text-fill: main-text-color;
	-fx-label-padding: 4px;
	-jfx-disable-visual-focus: true;
}

.jfx-dialog-layout > .jfx-layout-actions .jfx-button:hover {
	-fx-background-color: mid1;
}

.jfx-dialog-layout > .jfx-layout-body {
    -fx-alignment: center-left;
    -fx-padding: 14 14 10 14;
	-fx-font-family: "Arial";
}

.jfx-dialog-layout > .jfx-layout-body .label {
    -fx-wrap-text: true;
	-fx-text-fill: black;
}

/* ListView */
.serverlistview {
	-fx-background-color: dark-transparent-1;
	-fx-font-family: "Arial";
}

.serverlistview .cell {
	-fx-content-display: graphic-only;
	-fx-background-color: transparent;
	-fx-text-fill: main-text-color;
}

.serverlistview .cell:selected{
	-fx-background-color: light2;
}

.serverlistview .cell:filled{
	-fx-border-color: light2;
	-fx-border-width: 0 0 1 0;
}

.serverlistview .cell .jfx-button,
.serverlistview .cell .jfx-button:hover {
	-fx-background-color: transparent;
	-fx-border-width: 0;
	-fx-background-radius: 0;
	-fx-border-radius: 0;
	-fx-content-display: graphic-only;
	-fx-alignment: center;
	-fx-text-alignment: center;
}

.serverlistview .cell .label {
	-fx-padding: 0 0 0 10;
}

.serverlistview .cell .jfx-button:hover .glyph-font{
	-fx-text-fill: dark2;
}

.serverlistview .jfx-rippler{
	-jfx-rippler-fill: light1;
}